name: Test & release `build.yml` workflow

on:
  pull_request:
  push:
  schedule:
    - cron: 14 15 * * *
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != format('refs/heads/{0}', github.event.repository.default_branch) }}

jobs:
  should-run:
    name: Should run
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      should-run: ${{ steps.action.outputs.should-run }}
    steps:
      - id: action
        uses: techneg-it/should-workflow-run@eff19348eb884f57e05bc6f05ae48ece3af14714 # v1.0.1
  pre-commit:
    name: Run `pre-commit`
    needs: should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      # renovate: datasource=custom.python-versions depName=actions/python-versions versioning=pep440
      PYTHON_VERSION: 3.14.3
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
  gbt:
    name: Get build types
    needs: should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      build-types: ${{ steps.get-build-types.outputs.build-types }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: get-build-types
        run: |
          BUILDS=$(jq -cR 'split(" ")' builds)
          OUTPUT="build-types=$BUILDS"
          echo "Setting '$OUTPUT'"
          echo "$OUTPUT" >> $GITHUB_OUTPUT
  gov:
    name: Get OS versions
    needs: should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      os-versions: ${{ steps.get-os-versions.outputs.os-versions }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: get-os-versions
        run: |
          VERSIONS=$(jq -cR 'split(" ")' os_vers)
          OUTPUT="os-versions=$VERSIONS"
          echo "Setting '$OUTPUT'"
          echo "$OUTPUT" >> $GITHUB_OUTPUT
  run-workflow:
    needs:
      - gbt
      - gov
      - pre-commit
    uses: ./.github/workflows/libbuild.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        build-os-version: ${{ fromJSON(needs.gov.outputs.os-versions) }}
        build-runner: [ubuntu-24.04, virtualbox]
        build-type: ${{ fromJSON(needs.gbt.outputs.build-types) }}
        exclude:
          - build-type: qemu-x64
            build-runner: virtualbox
          - build-type: vbox-x64
            build-runner: macos-13
          - build-type: vbox-x64
            build-runner: buildjet-2vcpu-ubuntu-2204
          - build-type: vbox-x64
            build-runner: ubuntu-24.04
    with:
      build-os-version: ${{ matrix.build-os-version }}
      build-runner: ${{ matrix.build-runner }}
      build-type: ${{ matrix.build-type }}
      timeout-minutes: 10
      upload-box: false
#  release:
#    name: Release
#    needs:
#      - run-workflow
#    runs-on: ubuntu-latest
#    timeout-minutes: 5
#    steps:
#      - uses: actions/checkout@v4
#      - name: Run `semantic-release`
#        uses: codfish/semantic-release-action@v2
#        id: sem-rel
#        with:
#          branches: |
#            ["main"]
#          plugins: |
#            [ "@semantic-release/commit-analyzer",
#              "@semantic-release/release-notes-generator",
#              "@semantic-release/github"
#            ]
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      - name: Update branch for major version
#        if: steps.sem-rel.outputs.new-release-published == 'true'
#        run: git push
#             https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
#             HEAD:refs/heads/v${{steps.sem-rel.outputs.release-major}}
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      - name: Update Healthchecks.io
#        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
#        run: curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/${HC_UUID}
#        env:
#          HC_UUID: ${{ secrets.HC_UUID }}
